body{
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 10rem;
  
 
}
.cardgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 15px;  
  cursor: pointer;
}




